.nav-bar {
    padding: 18px;
    display: block;
    font-weight: 700;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #191a1d;
}

.nav-bar a {
    padding: 8px;
    color: #ddd;
    text-align: center;
    text-decoration: none;
    float: left;
}

.nav-bar a:hover {
    color: #fff;
}


#support {
    float: right;
}

#support:hover {
    color:#ce4484;
}

@media screen and (max-width: 600px) {
    .nav-bar {
        display: none;
    }
}
